version: '3'
services:
  mariadb:
    image: mariadb:latest
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=test
      - MYSQL_ROOT_PASSWORD=1234

  redis:
    image: redis:latest
    command: [ "redis-server", "--requirepass", "1234" ]
    hostname: test
    ports:
      - "6379:6379"
